@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
    <h1 class="section-header">
        Synthèse
    </h1>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-8 card pt-3 ">
                <table class="table table-bordered  ">
                    <thead>
                        <tr>
                            <th scope="col" colspan="4" class="border text-center "><H4 style="color:#000000">Activités CLN</H4></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Date : </th>
                            <td colspan="3" class="text-center">21/01/2021</td>
                        </tr>
                        <tr>
                            <th scope="row">Nuances/Diamètres</th>
                            <td class="text-center">TSA / 5,5</td>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <th scope="row">minute sécurité :</th>
                            <td colspan="3" class="text-center">EPI° 1</td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col-5 card">

                <div class=" text-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm "  style="background-color: #de6813">

                    <div class="lh-100 ">
                        <h6 class="mb-0 text-white lh-100 " >Laminage</h6>

                    </div>
                </div>
                <table class="table table-bordered ">

                    <tbody>
                        <tr>
                            <th rowspan="2" class="border "><b>Contrôle Qualité des Billettes Reҁues</b></th>
                            <th class="border "><b>Nbr inspecté</b></th>
                            <th class="border "><b>Nbr retenu</b></th>

                        </tr>
                        <tr>

                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered ">

                    <tbody>
                        <tr>
                            <th rowspan="2" class="border "><b>Taux de conformité des Couronnes est de : </b></th>


                        </tr>
                        <tr>


                            <td class="text-center">12</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered ">

                    <tbody>
                        <tr>
                            <th rowspan="2" class="border "><b>Taux de conformité de la masse lineique est de : </b></th>


                        </tr>
                        <tr>


                            <td class="text-center">12</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered ">

                    <tbody>
                        <tr>
                            <th rowspan="2" class="border "><b>Hauteur des verrous</b></th>
                            <th class="border "><b>Min</b></th>
                            <th class="border "><b>Max</b></th>

                        </tr>
                        <tr>

                            <td class="text-center">8</td>
                            <td class="text-center">12</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered ">

                    <tbody>
                        <tr>
                            <th rowspan="2" class="border "><b>Les nervures logitudinales</b></th>
                            <th class="border text-center"><b>valeur</b></th>


                        </tr>
                        <tr>

                            <td class="text-center" colspan="2"></td>

                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered  ">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="border "><b  style="color:#000000">nbr</b></th>
                            <th class="border "><b  style="color:#000000">Poids(kg)</b></th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <th>Couronnes Retenues</th>
                            <td class="text-center">8</td>
                            <td class="text-center">12</td>
                        </tr>
                        <tr>
                            <th>Couronnes Rejetées</th>
                            <td class="text-center">8</td>
                            <td class="text-center">12</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-2 ">
                
            </div>
            <div class="col-5 card">
                <div class=" text-center p-3 my-3 text-white-50  rounded shadow-sm " style="background-color: #de6813">

                    <div class="lh-100 ">
                        <h6 class="mb-0 text-white lh-100 "  >Déroulage Crontage</h6>

                    </div>
                </div>
                <table class="table table-bordered ">

                    <tbody>
                        <tr>
                            <th rowspan="2" class="border "><b>Taux de conformité des Fardeaux  est de : </b></th>


                        </tr>
                        <tr>


                            <td class="text-center">12</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered  ">
                    <thead>
                        <tr>
                            <th><b  style="color:#000000">Longueurs des barres</b></th>
                            <th class="border "><b  style="color:#000000">Min</b></th>
                            <th class="border "><b  style="color:#000000">Max</b></th>

                        </tr>

                    </thead>

                    <tbody>

                        <tr>
                            <th>EUROLLS</th>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <th>COGEMA</th>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                        <tr>
                            <th>GariMetal</th>
                            <td class="text-center"></td>
                            <td class="text-center"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-bordered  ">

                    <tbody>
                        <tr>
                            <th rowspan="2" class="border "><b>Taux de conformité de la masse lineique est de : </b></th>


                        </tr>
                        <tr>


                            <td class="text-center">12</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered  ">

                    <tbody>
                        <tr>
                            <th rowspan="2" class="border "><b>Hauteur des verrous</b></th>
                            <th class="border "><b>Min</b></th>
                            <th class="border "><b>Max</b></th>

                        </tr>
                        <tr>

                            <td class="text-center">8</td>
                            <td class="text-center">12</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered  ">

                    <tbody>
                        <tr>
                            <th rowspan="2" class="border "><b>Les nervures logitudinales</b></th>
                            <th class="border text-center"><b>valeur</b></th>


                        </tr>
                        <tr>

                            <td colspan="2" class="text-center"></td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       

    </div>
</section>